.myNav {
  text-align: right;
  margin: auto;
}

.mya {
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: rgb(108, 117, 125);
  margin: 5px;
}

.mya2:hover {
  text-decoration: none;
}

.currentNav {
  color: rgb(0, 0, 0);
}

.mya:after {
  content: "";
  position: absolute;
  background-color: rgb(108, 117, 125);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.4s;
}

.mya:hover {
  text-decoration: none;
  color: rgb(108, 117, 125);
  transition: 0.4s;
}

.mya:hover:after {
  width: 100%;
}

.mainText {
  margin: 10px;
}

.left, .right {
  width: 45%;
  margin: 10px;
}

.left {
  text-align: right;
}

.right {
  position: relative;
  right: -52%;
}

svg {
  color: rgb(108, 117, 125);
  transition: 0.5s;
}

svg:hover {
  color: rgb(0, 0, 0);
}

.contact {
  float: left;
  text-align: center;
  margin: 20px;
  width: 45%;
}

.mail {
  float: right;
  margin: 20px;
  width: 45%;
}