.myNav {
  text-align: right;
  margin: auto;
}

.mya {
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  color: rgb(138, 138, 138);
  margin: 5px;
}

.currentNav {
  color: rgb(0, 0, 0);
}

a:after {
  content: "";
  position: absolute;
  background-color: rgb(138, 138, 138);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.4s;
}

.mya:hover {
  text-decoration: none;
  color: rgb(138, 138, 138);
}

.mya:hover:after {
  width: 100%;
}

.left, .right {
  width: 49%;
}

.left {
  text-align: right;
}

.right {
  position: relative;
  right: -51%;
}